.cart-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.cart-product {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.cart-product .img {
  width: 120px;
  height: 120px;
}
.cart-product .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-product-detail {
  padding: 10px;
}
.cart-product-detail h3 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}
.cart-product-detail p {
  font-weight: 600;
  color: #727272;
}
.cart-head {
  padding: 5px 10px;
  font-size: 20px;
}
.cart-amt {
  padding: 10px;
  font-size: 22x;
}
